/*SUMMARY GEDUNG*/
.sum-gedung{
  width: 90px;
  margin-bottom: 0;
}

/*LEGENDA*/
.legenda{
  /* display: inline-flex; */
}

.satu-legenda {
  /* margin-inline: 20px;
  float: left; */
  display: -webkit-inline-box;
  margin: 5px 20px 5px 20px;
}

.satu-legenda span{
  font-size: 12px;
  margin-left: 5px;
}

.kotak-l{
  width: 23px;
  height: 23px;
  border-radius: 4px;
}

/*DENAH KAMAR*/
.kamar{
  color: #4a4e4d;
  width: 64px;
  height: 34px;
  border-radius: 4px;
  position: relative;
  margin: 4px;
  text-align: center;
  line-height: 35px;
  display: inline-block;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Opera and Firefox */
}

.kamar:hover{
  background-color: #1ba0e285;
  box-shadow: 0 0 0 0;
}

.kosong {
  box-shadow: 0 0 0 2px #1ba0e2 inset;
}

.terisi1 {
  background-color: #ffbc34;
  color: #444645;
}

.terisi2 {
  background-color: #df193d;
  color: #fff
}

.sendiri{
  background-color: #19cf13;
}

.piutang {
  box-shadow: 0 0 0 2px #615255 inset;
}

.terpilih {
  background-color: #1ba0e2;
}

/*NAVBAR UNDIP*/
  .nav-undip {
    padding-left: 0 !important;
    vertical-align: middle;
  }

  .foto-awal {
    opacity: 0.5;
    width: 120%;
    max-width: 200%;
    height: auto;
  }

  .st {
    position: fixed;
   
  }

  .statichehe {
    position: relative;
    padding-top:500px;
  }

  .tulisan-foto-dalam {
    position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
  color: #595959;

  }

  .foto-doni {
    position: fixed;
    width: 180px;
    height: 240px;
  top: 35%;
  left: 52%;
  transform: translate(-50%, -50%);
  }